## Create Monthly Hourly Resampled Data_2

- Individual Resampling due to Memory Constraints

In [1]:
import pandas as pd

PATH = '../data/BTCUSDT-trades-2023-'

data = pd.read_csv(PATH + '10.csv', usecols=['time', 'price', 'quote_qty', 'is_buyer_maker'])

# 'time' column to datetime format
data['time'] = pd.to_datetime(data['time'], unit='ms')

# Resample data
pqi = data.resample('1H', on='time').agg({
    'price': 'mean',
    'quote_qty': 'std',
    'is_buyer_maker': 'sum'
})

# Reset index
pqi = pqi.reset_index()

# Save the result to a CSV file
pqi.to_csv('../data/BTC_resample_10.csv', index=False, encoding='utf-8-sig')

- Concatenate Files for September to December

In [5]:
PATH = '../data/BTC_resample_'

months = ['09', '10', '11', '12']  # Assuming you want to concatenate files for these months
dfs = []

for month in months:
    df = pd.read_csv(f'{PATH}{month}.csv')  # Use f-string to include the month variable
    dfs.append(df)

# Concatenate the DataFrames into a single DataFrame
result = pd.concat(dfs, ignore_index=True)

result.head()

                  time         price     quote_qty  is_buyer_maker
0  2023-09-01 00:00:00  25998.922245   9071.287840           38493
1  2023-09-01 01:00:00  25992.438113  17323.335999           35165
2  2023-09-01 02:00:00  26032.346499  15488.880027           31919
3  2023-09-01 03:00:00  26053.253665   8552.732634           23689
4  2023-09-01 04:00:00  26052.753551   6628.824384           26118

In [6]:
result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2928 entries, 0 to 2927
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   time            2928 non-null   object
 1   price           2923 non-null   float64
 2   quote_qty       2923 non-null   float64
 3   is_buyer_maker  2928 non-null   int64
dtypes: float64(2), int64(1), object(1)
memory usage: 91.6+ KB

In [7]:
result.head()

                  time         price     quote_qty  is_buyer_maker
0  2023-09-01 00:00:00  25998.922245   9071.287840           38493
1  2023-09-01 01:00:00  25992.438113  17323.335999           35165
2  2023-09-01 02:00:00  26032.346499  15488.880027           31919
3  2023-09-01 03:00:00  26053.253665   8552.732634           23689
4  2023-09-01 04:00:00  26052.753551   6628.824384           26118

In [8]:
result.to_csv('../data/BIT_2023_9101112.csv', index=False, encoding='utf-8-sig')