## 파일 리샘플링_1차

In [4]:
#pip list

In [1]:
import numpy as np
import pandas as pd

In [2]:
def convert_tick_to_ohlcvqata):
    """
    Converts given Binance tick data into 1-hour interval OHLCV (Open, High, Low, Close, Volume) data.
    :param data: DataFrame with Tick data
    :return: DataFrame with the Open, High, Low, Close, Volume values
    """

    data['time'] = pd.to_datetime(data['time'], unit='ms')
    ohlcv = data.resample('1H', on='time').agg({
        'price': ['first', 'max', 'min', 'last'],
        'qty': 'sum',
        'quote_qty': 'std',
        'is_buyer_maker': 'sum'})
        

    ohlcv.columns = ['Open', 'High', 'Low', 'Close', 'Volume','quote_qty','is_buyer_maker']
    return ohlcv

def calculate_volatility(data, window=20):
    """
    Calculate the rolling volatility using the standard deviation of returns.
    :param data: DataFrame with OHLCV data
    :param window: The number of periods to use for calculating the standard deviation
    :return: DataFrame with the volatility values
    """

    # Calculate daily returns
    data['returns'] = data['Close'].pct_change()

    # Calculate the rolling standard deviation of returns
    data['volatility'] = data['returns'].rolling(window=window).std()

    return data

# def convert_tick_to_pqi(data):

#     data['time'] = pd.to_datetime(data['time'], unit='ms')
#     pqi = data.resample('1H', on='time').agg({
#     'price': 'mean',
#     'quote_qty': 'std',
#     'is_buyer_maker': 'sum'})
    
#     pqi.columns = ['price','quote_qty','is_buyer_maker']
#     return pqi

In [3]:
file_list = [
    '../data/BTCUSDT-trades-2023-01.csv',
    '../data/BTCUSDT-trades-2023-02.csv',
    # '../data/BTCUSDT-trades-2023-03.csv',
    # '../data/BTCUSDT-trades-2023-04.csv',
    # '../data/BTCUSDT-trades-2023-05.csv',
    # '../data/BTCUSDT-trades-2023-06.csv'
    # '../data/BTCUSDT-trades-2023-07.csv',
    # '../data/BTCUSDT-trades-2023-08.csv',
    # '../data/BTCUSDT-trades-2023-09.csv',
    # '../data/BTCUSDT-trades-2023-10.csv',
    # '../data/BTCUSDT-trades-2023-11.csv',
    # '../data/BTCUSDT-trades-2023-12.csv'
    # '../data/BTCUSDT-trades-2024-01-01.csv',
    # '../data/BTCUSDT-trades-2024-01-02.csv',
    # '../data/BTCUSDT-trades-2024-01-03.csv',
    # '../data/BTCUSDT-trades-2024-01-04.csv',
    # '../data/BTCUSDT-trades-2024-01-05.csv',
    # '../data/BTCUSDT-trades-2024-01-06.csv',
    # '../data/BTCUSDT-trades-2024-01-07.csv',
    # '../data/BTCUSDT-trades-2024-01-08.csv',
    # '../data/BTCUSDT-trades-2024-01-09.csv',
    # '../data/BTCUSDT-trades-2024-01-10.csv',
    # '../data/BTCUSDT-trades-2024-01-11.csv',
    # '../data/BTCUSDT-trades-2024-01-12.csv',
    # '../data/BTCUSDT-trades-2024-01-13.csv',
    # '../data/BTCUSDT-trades-2024-01-14.csv',
    # '../data/BTCUSDT-trades-2024-01-15.csv',
    # '../data/BTCUSDT-trades-2024-01-16.csv',
    # '../data/BTCUSDT-trades-2024-01-17.csv',
    # '../data/BTCUSDT-trades-2024-01-18.csv',
    # '../data/BTCUSDT-trades-2024-01-19.csv',
    # '../data/BTCUSDT-trades-2024-01-20.csv',
    # '../data/BTCUSDT-trades-2024-01-21.csv',
    # '../data/BTCUSDT-trades-2024-01-22.csv',
    # '../data/BTCUSDT-trades-2024-01-23.csv',
    # '../data/BTCUSDT-trades-2024-01-24.csv',
    # '../data/BTCUSDT-trades-2024-01-25.csv',
    # '../data/BTCUSDT-trades-2024-01-26.csv',
    # '../data/BTCUSDT-trades-2024-01-27.csv'   

]

### 1. 개별 함수 적용 후 concat(chunk, usecols, dtype 사용)

In [17]:
# 빈 리스트 생성
processed_data_list = []
chunk_size = 5000
# 파일 리스트 순회
for file in file_list:
    # 파일 읽기
    chunk_list = []
    for chunk in pd.read_csv(file, usecols=['price', 'qty', 'quote_qty', 'time', 'is_buyer_maker'], dtype={'price': float, 'qty': float, 'quote_qty': float, 'time': float}, chunksize=chunk_size):
        # OHLCV 변환
        ohlcv_data = convert_tick_to_ohlcv(chunk)
        # 변동성 계산
        volatility_data = calculate_volatility(ohlcv_data)
        # 인덱스 재설정
        volatility_data = volatility_data.reset_index()
        # 변환된 데이터를 리스트에 추가
        chunk_list.append(volatility_data)
    
    # 하나의 파일 처리가 완료되면 데이터를 concat하여 리스트에 추가
    processed_data_list.append(pd.concat(chunk_list, ignore_index=True))

# 모든 데이터를 concat하여 하나로 병합
concatenated_data = pd.concat(processed_data_list, ignore_index=True)

In [21]:
processed_data_list

[                   time     Open     High      Low    Close   Volume  \
 0   2024-01-26 00:00:00  39953.3  39959.6  39923.6  39923.6  352.180
 1   2024-01-26 00:00:00  39923.4  39953.0  39916.8  39939.7  317.751
 2   2024-01-26 00:00:00  39939.6  39965.1  39901.7  39904.0  309.564
 3   2024-01-26 00:00:00  39904.0  39917.2  39880.0  39880.3  355.181
 4   2024-01-26 00:00:00  39880.9  39938.0  39872.0  39938.0  283.981
 ..                  ...      ...      ...      ...      ...      ...
 853 2024-01-26 23:00:00  41821.9  41866.8  41821.9  41837.0  299.688
 854 2024-01-26 23:00:00  41837.0  41875.0  41831.0  41845.4  388.855
 855 2024-01-26 23:00:00  41845.4  41871.9  41820.5  41825.2  495.035
 856 2024-01-26 23:00:00  41825.2  41825.2  41779.2  41796.9  629.942
 857 2024-01-26 23:00:00  41796.9  41808.2  41796.9  41806.4   49.512

         quote_qty  is_buyer_maker  returns  volatility
 0     7870.542308            2950      NaN         NaN
 1    10211.177349            2493      NaN         NaN
 2    10371.890553            2545      NaN         NaN
 3     8530.384036            3213      NaN         NaN
 4     6724.721971            2231      NaN         NaN
 ..            ...             ...      ...         ...
 853   8016.926259            2327      NaN         NaN
 854  10387.248249            2430      NaN         NaN
 855  12856.996167            3020      NaN         NaN
 856  26595.081800            3442      NaN         NaN
 857  18409.322626             147      NaN         NaN

 [858 rows x 10 columns],
                       time     Open     High      Low    Close   Volume  \
 0      2024-01-27 00:00:00  41806.4  41827.6  41775.9  41778.9  388.451
 1      2024-01-27 00:00:00  41778.9  41792.0  41765.8  41774.7  333.615
 2      2024-01-27 00:00:00  41774.7  41792.0  41755.6  41776.2  308.861
 3      2024-01-27 00:00:00  41776.2  41829.4  41776.2  41819.8  293.736
 4      2024-01-27 00:00:00  41819.9  41844.1  41803.9  41840.3  424.994
 ...                    ...      ...      ...      ...      ...      ...
 474007 2024-01-26 22:00:00      NaN      NaN      NaN      NaN    0.000
 474008 2024-01-26 23:00:00      NaN      NaN      NaN      NaN    0.000
 474009 2024-01-27 00:00:00      NaN      NaN      NaN      NaN    0.000
 474010 2024-01-27 01:00:00      NaN      NaN      NaN      NaN    0.000
 474011 2024-01-27 02:00:00  41823.9  41841.2  41807.2  41837.9  210.734

            quote_qty is_buyer_maker   returns    volatility
 0       14760.032365           2619       NaN           NaN
 1       11067.461296           2816       NaN           NaN
 2        8493.795128           2881       NaN           NaN
 3        6725.070183           1836       NaN           NaN
 4       13213.341474           2402       NaN           NaN
 ...              ...            ...       ...           ...
 474007           NaN              0  0.000000  0.000000e+00
 474008           NaN              0  0.000000  0.000000e+00
 474009           NaN              0  0.000000  0.000000e+00
 474010           NaN              0  0.000000  0.000000e+00
 474011   6647.262578           1575  0.000002  5.344612e-07

 [474012 rows x 10 columns]]

- 함수 적용 시, chuck size 별로 나워서 정상 처리가 불가 함 > 1시간 간격으로 처리하도록 변경

### 2. 한시간 간격으로 개별 함수 처리 후 concat

너무 오래 걸림 잘 돌아가는지도 의문

In [25]:
import pandas as pd

# 시간 간격 (1시간)
time_interval = '1H'

# 빈 리스트 생성
processed_data_list = []

# 파일 리스트 순회
for file in file_list:
    # 파일 읽기
    df = pd.read_csv(file, usecols=['price', 'qty', 'quote_qty', 'time', 'is_buyer_maker'], dtype={'price': float, 'qty': float, 'quote_qty': float, 'time': float})
    
    # 시간 열을 datetime 형식으로 변환
    df['time'] = pd.to_datetime(df['time'], unit='ms')
    
    # 시간 간격에 따라 데이터를 분할
    grouped = df.groupby(pd.Grouper(key='time', freq=time_interval))
    
    # 시간 간격별로 데이터를 처리하고 리스트에 추가
    for group_name, group_data in grouped:
        # OHLCV 변환
        ohlcv_data = convert_tick_to_ohlcv(group_data)
        # 변동성 계산
        volatility_data = calculate_volatility(ohlcv_data)
        # 인덱스 재설정
        volatility_data = volatility_data.reset_index()
        # 변환된 데이터를 리스트에 추가
        processed_data_list.append(volatility_data)

# 모든 데이터를 concat하여 하나로 병합
concatenated_data = pd.concat(processed_data_list, ignore_index=True)

/var/folders/nz/vk3v33x95bs4kf3ymy0z0my00000gn/T/ipykernel_60306/2178944990.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['time'] = pd.to_datetime(data['time'], unit='ms')
/var/folders/nz/vk3v33x95bs4kf3ymy0z0my00000gn/T/ipykernel_60306/2178944990.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['time'] = pd.to_datetime(data['time'], unit='ms')
/var/folders/nz/vk3v33x95bs4kf3ymy0z0my00000gn/T/ipykernel_60306/2178944990.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['time'] = pd.to_datetime(data['time'], unit='ms')
/var/folders/nz/vk3v33x95bs4kf3ymy0z0my00000gn/T/ipykernel_60306/2178944990.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['time'] = pd.to_datetime(data['time'], unit='ms')
/var/folders/nz/vk3v33x95bs4kf3ymy0z0my00000gn/T/ipykernel_60306/2178944990.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['time'] = pd.to_datetime(data['time'], unit='ms')
/var/folders/nz/vk3v33x95bs4kf3ymy0z0my00000gn/T/ipykernel_60306/2178944990.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['time'] = pd.to_datetime(data['time'], unit='ms')
/var/folders/nz/vk3v33x95bs4kf3ymy0z0my00000gn/T/ipykernel_60306/2178944990.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['time'] = pd.to_datetime(data['time'], unit='ms')
/var/folders/nz/vk3v33x95bs4kf3ymy0z0my00000gn/T/ipykernel_60306/2178944990.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['time'] = pd.to_datetime(data['time'], unit='ms')
/var/folders/nz/vk3v33x95bs4kf3ymy0z0my00000gn/T/ipykernel_60306/2178944990.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['time'] = pd.to_datetime(data['time'], unit='ms')
/var/folders/nz/vk3v33x95bs4kf3ymy0z0my00000gn/T/ipykernel_60306/2178944990.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['time'] = pd.to_datetime(data['time'], unit='ms')
/var/folders/nz/vk3v33x95bs4kf3ymy0z0my00000gn/T/ipykernel_60306/2178944990.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['time'] = pd.to_datetime(data['time'], unit='ms')
/var/folders/nz/vk3v33x95bs4kf3ymy0z0my00000gn/T/ipykernel_60306/2178944990.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['time'] = pd.to_datetime(data['time'], unit='ms')
/var/folders/nz/vk3v33x95bs4kf3ymy0z0my00000gn/T/ipykernel_60306/2178944990.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['time'] = pd.to_datetime(data['time'], unit='ms')
/var/folders/nz/vk3v33x95bs4kf3ymy0z0my00000gn/T/ipykernel_60306/2178944990.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['time'] = pd.to_datetime(data['time'], unit='ms')
/var/folders/nz/vk3v33x95bs4kf3ymy0z0my00000gn/T/ipykernel_60306/2178944990.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['time'] = pd.to_datetime(data['time'], unit='ms')
/var/folders/nz/vk3v33x95bs4kf3ymy0z0my00000gn/T/ipykernel_60306/2178944990.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['time'] = pd.to_datetime(data['time'], unit='ms')
/var/folders/nz/vk3v33x95bs4kf3ymy0z0my00000gn/T/ipykernel_60306/2178944990.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['time'] = pd.to_datetime(data['time'], unit='ms')
/var/folders/nz/vk3v33x95bs4kf3ymy0z0my00000gn/T/ipykernel_60306/2178944990.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['time'] = pd.to_datetime(data['time'], unit='ms')
/var/folders/nz/vk3v33x95bs4kf3ymy0z0my00000gn/T/ipykernel_60306/2178944990.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['time'] = pd.to_datetime(data['time'], unit='ms')
/var/folders/nz/vk3v33x95bs4kf3ymy0z0my00000gn/T/ipykernel_60306/2178944990.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['time'] = pd.to_datetime(data['time'], unit='ms')
/var/folders/nz/vk3v33x95bs4kf3ymy0z0my00000gn/T/ipykernel_60306/2178944990.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['time'] = pd.to_datetime(data['time'], unit='ms')
/var/folders/nz/vk3v33x95bs4kf3ymy0z0my00000gn/T/ipykernel_60306/2178944990.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['time'] = pd.to_datetime(data['time'], unit='ms')
/var/folders/nz/vk3v33x95bs4kf3ymy0z0my00000gn/T/ipykernel_60306/2178944990.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['time'] = pd.to_datetime(data['time'], unit='ms')
/var/folders/nz/vk3v33x95bs4kf3ymy0z0my00000gn/T/ipykernel_60306/2178944990.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['time'] = pd.to_datetime(data['time'], unit='ms')
/var/folders/nz/vk3v33x95bs4kf3ymy0z0my00000gn/T/ipykernel_60306/1444903136.py:18: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file, usecols=['price', 'qty', 'quote_qty', 'time', 'is_buyer_maker'], dtype={'price': float, 'qty': float, 'quote_qty': float, 'time': float})
/var/folders/nz/vk3v33x95bs4kf3ymy0z0my00000gn/T/ipykernel_60306/2178944990.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['time'] = pd.to_datetime(data['time'], unit='ms')
/var/folders/nz/vk3v33x95bs4kf3ymy0z0my00000gn/T/ipykernel_60306/2178944990.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['time'] = pd.to_datetime(data['time'], unit='ms')
/var/folders/nz/vk3v33x95bs4kf3ymy0z0my00000gn/T/ipykernel_60306/2178944990.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['time'] = pd.to_datetime(data['time'], unit='ms')
/var/folders/nz/vk3v33x95bs4kf3ymy0z0my00000gn/T/ipykernel_60306/2178944990.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['time'] = pd.to_datetime(data['time'], unit='ms')

### 3. concat 후 함수 적용(chunk, usecols, dtype 사용) > 유력

In [4]:
%%time
# 청크 사이즈 설정
chunk_size = 5000

# 데이터를 담을 빈 리스트 생성
dfs = []

# 청크 사이즈로 파일을 읽고 리스트에 추가
for file in file_list:
    chunk_list = []
    for chunk in pd.read_csv(file, usecols=['price', 'qty', 'quote_qty', 'time', 'is_buyer_maker'], dtype={'price': float, 'qty': float, 'quote_qty': float, 'time': float}, chunksize=chunk_size):
        chunk_list.append(chunk)
    dfs.append(pd.concat(chunk_list, ignore_index=True))

# 리스트에 있는 모든 DataFrame을 concat
combined_df = pd.concat(dfs, ignore_index=True)

# 결과 확인
print(combined_df.head())

     price    qty  quote_qty          time  is_buyer_maker
0  16537.5  0.004      66.15  1.672531e+12            True
1  16537.6  0.116    1918.36  1.672531e+12           False
2  16537.6  0.034     562.27  1.672531e+12           False
3  16537.6  0.082    1356.08  1.672531e+12           False
4  16537.5  0.002      33.07  1.672531e+12            True
CPU times: user 2min 44s, sys: 2min 1s, total: 4min 45s
Wall time: 5min 9s

In [5]:
combined_df

             price    qty  quote_qty          time  is_buyer_maker
0          16537.5  0.004      66.15  1.672531e+12            True
1          16537.6  0.116    1918.36  1.672531e+12           False
2          16537.6  0.034     562.27  1.672531e+12           False
3          16537.6  0.082    1356.08  1.672531e+12           False
4          16537.5  0.002      33.07  1.672531e+12            True
...            ...    ...        ...           ...             ...
178206914  23129.6  0.054    1248.99  1.677629e+12            True
178206915  23129.6  0.037     855.79  1.677629e+12            True
178206916  23129.6  0.002      46.25  1.677629e+12            True
178206917  23129.7  0.018     416.33  1.677629e+12           False
178206918  23129.6  0.010     231.29  1.677629e+12            True

[178206919 rows x 5 columns]

In [ ]:
# OHLCV 변환
ohlcv_data = convert_tick_to_ohlcv(combined_df)

# # 변동성 계산
# volatility_data = calculate_volatility(ohlcv_data)

# # 인덱스 재설정
# volatility_data = volatility_data.reset_index()

In [12]:
df = volatility_data[volatility_data['time'].dt.year.isin([2023, 2024])]

In [15]:
df

,time,Open,High,Low,Close,Volume,quote_qty,is_buyer_maker,returns,volatility
464592,2023-01-01 00:00:00,NaN,NaN,NaN,NaN,0.000,NaN,0,0.000000,0.000000
464593,2023-01-01 01:00:00,NaN,NaN,NaN,NaN,0.000,NaN,0,0.000000,0.000000
464594,2023-01-01 02:00:00,NaN,NaN,NaN,NaN,0.000,NaN,0,0.000000,0.000000
464595,2023-01-01 03:00:00,NaN,NaN,NaN,NaN,0.000,NaN,0,0.000000,0.000000
464596,2023-01-01 04:00:00,NaN,NaN,NaN,NaN,0.000,NaN,0,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...
473974,2024-01-26 22:00:00,41976.9,41994.7,41808.9,41887.6,7326.679,17410.642021,47854,-0.002127,0.006608
473975,2024-01-26 23:00:00,41887.7,41963.7,41779.2,41806.4,4860.486,13003.694973,31809,-0.001939,0.006610
473976,2024-01-27 00:00:00,41806.4,41849.9,41681.8,41772.8,6391.058,11312.201136,48735,-0.000804,0.006643
473977,2024-01-27 01:00:00,41772.8,41924.0,41754.2,41804.9,4578.196,10297.630180,30310,0.000768,0.006611
473978,2024-01-27 02:00:00,41804.8,41841.2,41801.7,41837.9,284.670,6657.814357,1872,0.000789,0.006532

In [16]:
df.set_index('time', inplace=True)
df.index=pd.to_datetime(df.index)
dfc=df.copy()

In [17]:
df

,Open,High,Low,Close,Volume,quote_qty,is_buyer_maker,returns,volatility
time,,,,,,,,,
2023-01-01 00:00:00,NaN,NaN,NaN,NaN,0.000,NaN,0,0.000000,0.000000
2023-01-01 01:00:00,NaN,NaN,NaN,NaN,0.000,NaN,0,0.000000,0.000000
2023-01-01 02:00:00,NaN,NaN,NaN,NaN,0.000,NaN,0,0.000000,0.000000
2023-01-01 03:00:00,NaN,NaN,NaN,NaN,0.000,NaN,0,0.000000,0.000000
2023-01-01 04:00:00,NaN,NaN,NaN,NaN,0.000,NaN,0,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...
2024-01-26 22:00:00,41976.9,41994.7,41808.9,41887.6,7326.679,17410.642021,47854,-0.002127,0.006608
2024-01-26 23:00:00,41887.7,41963.7,41779.2,41806.4,4860.486,13003.694973,31809,-0.001939,0.006610
2024-01-27 00:00:00,41806.4,41849.9,41681.8,41772.8,6391.058,11312.201136,48735,-0.000804,0.006643
2024-01-27 01:00:00,41772.8,41924.0,41754.2,41804.9,4578.196,10297.630180,30310,0.000768,0.006611
2024-01-27 02:00:00,41804.8,41841.2,41801.7,41837.9,284.670,6657.814357,1872,0.000789,0.006532